<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="model" default="$(find sonibot_description)/urdf/sonibot_base.urdf.xacro"/>
    <arg name="x_pos" default="-3.0"/>
    <arg name="y_pos" default="1.0"/>
    <arg name="z_pos" default="0.0"/>

    <!-- Importing Robot_description -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
    <!-- Launching gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find sonibot_description)/worlds/house.world"/> -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

     <!-- Starting robot state publish which will publish tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

    <!-- Spawning urdf -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model sonibot_base -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" />
    
    <!-- Loading then spawning controllers -->
    <!--  (If libgazebo_ros_control.so is used, Ignore the below code!) -->
    <!-- <rosparam command="load" file="$(find sonibot_description)/config/arm_control.yaml" />

    <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="robot_base_joint_publisher robot_base_velocity_controller"/>
    -->

</launch>